<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="guard"></ion-back-button>
      <ion-title>listas</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
 
<ion-content>
  <br>
  
    <ion-button [routerLink]="['/userslist']" > Secion 001D </ion-button>
    <ion-button [routerLink]="['/userslist']" > Secion 002D </ion-button>
    <ion-button [routerLink]="['/userslist']" > Secion 003D </ion-button>
    <ion-button [routerLink]="['/userslist']" > Secion 004D </ion-button>
    <ion-button [routerLink]="['/userslist']" > Secion 005D </ion-button>
    <ion-button [routerLink]="['/userslist']" > Secion 006D </ion-button>

</ion-content>

<ion-back-button> volver </ion-back-button>
