<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="asistencia"></ion-back-button>
      <ion-title> Asistencia alumno</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
<br>
        <ion-title> Roberto Gómez</ion-title>
        <br>
          <ion-checkbox slot="start"></ion-checkbox>
          <ion-label>Presente</ion-label>

          <ion-checkbox slot="start"></ion-checkbox>
          <ion-label>Ausente</ion-label>
          <br>

          <br>
          <ion-title> Florinda Mesa </ion-title>
          <br>
            <ion-checkbox slot="start"></ion-checkbox>
            <ion-label>Presente</ion-label>
  
            <ion-checkbox slot="start"></ion-checkbox>
            <ion-label>Ausente</ion-label>
            <br>

            <br>
            <ion-title> Ramon Valdez </ion-title>
            <br>
              <ion-checkbox slot="start"></ion-checkbox>
              <ion-label>Presente</ion-label>
    
              <ion-checkbox slot="start"></ion-checkbox>
              <ion-label>Ausente</ion-label>
              <br>

              <br>
              <ion-title> Carlos Villagran </ion-title>
              <br>
                <ion-checkbox slot="start"></ion-checkbox>
                <ion-label>Presente</ion-label>
      
                <ion-checkbox slot="start"></ion-checkbox>
                <ion-label>Ausente</ion-label>
                <br>

                <br>
                <ion-title> Edgar Vivar </ion-title>
                <br>
                  <ion-checkbox slot="start"></ion-checkbox>
                  <ion-label>Presente</ion-label>
        
                  <ion-checkbox slot="start"></ion-checkbox>
                  <ion-label>Ausente</ion-label>
                  <br>

    </ion-list>

</ion-content>
