<ion-header>
  <ion-toolbar color="secondary">
    <ion-title class="ion-text-center">Perfil Docente</ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content>
  <ion-card>
    <img alt="Silhouette of mountains" src="assets/icon/avatarblanco.jpg" />
    <ion-card-header>
      <ion-card-title class="ion-text-center" >Bienvenido Docente </ion-card-title>
    </ion-card-header>
  
  </ion-card>


</ion-content>

<ion-fab vertical="bottom" horizontal="end" slot="fixed">

  <ion-fab-button>
    <ion-icon name="person"></ion-icon>
  </ion-fab-button>

  <ion-fab-list side="top">

    <ion-fab-button  [routerLink]="'/asistencia'">
      <ion-icon name="book"></ion-icon>
    </ion-fab-button>

    <ion-fab-button  [routerLink]="'/qr'">
      <ion-icon name="camera"></ion-icon>
    </ion-fab-button>

    <ion-fab-button  [routerLink]="'/cursos'">
      <ion-icon name="bookmarks"></ion-icon>
    </ion-fab-button>

    <ion-fab-button  [routerLink]="'/map'">
      <ion-icon name="map-outline"></ion-icon>
    </ion-fab-button>

    <ion-fab-button (click)="salir()" ><ion-icon name="power"></ion-icon></ion-fab-button>
  
  </ion-fab-list>

</ion-fab>
